
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container w-75 p-5 mt-5 border border-2 fst-italic text-center">
    <h3 class="mb-4">Login</h3>

    <form method="POST" action="{% url 'shop:userlogin' %}">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="mb-3">
            <input type="submit" value="Submit" class="btn btn-dark">
        </div>
    </form>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="text-danger" style="list-style: none;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
