{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Category Banner -->
<div class="container-fluid">
    <div class="row">
        <img src="{{ category.image.url }}" height="400px" width="100%" alt="">
    </div>
</div>

<!-- Products Section -->
<div class="products-box">
    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>{{ category.name }}</h1>
                    <p>{{ category.description }}</p>
                </div>
            </div>
        </div>

        <!-- Product List -->
        <div class="row special-list">

            {% for i in category.products.all %}
            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">

                        <!-- Product Image -->
                        <img src="{{ i.image.url }}" class="img-fluid" alt="{{ i.name }}">

                        <div class="mask-icon">
                            <ul>
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="right" title="View">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="right" title="Compare">
                                        <i class="fas fa-sync-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </li>
                            </ul>

                            <!-- Details Button -->
                            <a class="cart" href="{% url 'shop:productdetails' i.id %}">Details</a>
                        </div>

                    </div>

                    <div class="why-text">
                        <h4>{{ i.name }}</h4>
                        <h5>{{ i.price }}</h5>
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}

